<div id="<%= dom_id group %>" class="group">
    <img src=<%= group.icon  %> class="group-img"/>
  <p>
    <%= group.name %>
    <span class="date">
      <%= group.created_at.strftime('%d %b %Y')%>
    <span>
  </p>
  <b>
    $ <%= group.total %>
  </b>

</div>
